[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma generate && npm start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[service]
internalPort = 3000
